.contact{
    font-size: 15px;
    padding: 25px;
    label{
        font-weight: bold;
    }
    input, textarea{
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    input{
        height: 25px;
    }
    input[type="submit"]{
        
        height: 60px;
        width: 200px;
        margin: auto;
        margin-top: 20px;
        font-weight: bolder;
        border-radius: 10px;
        background-color: #ffce74;
        cursor: pointer;
        box-shadow: 1px 1px 5px black;
        transition-duration: 0.2s;
    }
    input[type="submit"]:hover{
        box-shadow: 1px 1px 15px black;
    }
    input[type="submit"]:active{
        box-shadow: 3px 3px 10px black inset;
    }
}