
.CV{
    padding-bottom: 50px;
    .grid-container{
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        font-size: 15px;
        gap: 30px 0;
        .date{
            color: grey;
            padding-left: 20px;
        }
    }
}